In [3]:
from splinter import Browser
import re
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
from datetime import datetime
import pandas as pd
import numpy as np
import re
from pathlib import Path

In [4]:
#Set up Splinter 
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 100.0.4896
[WDM] - Get LATEST driver version for 100.0.4896
[WDM] - Driver [C:\Users\Terence Lin\.wdm\drivers\chromedriver\win32\100.0.4896.60\chromedriver.exe] found in cache

In [7]:
nvidia_gpus = ['https://www.zoolert.com/computers/videocards/nvidia/rtx-3070/instockhistory.php',
               'https://www.zoolert.com/computers/videocards/nvidia/rtx-3070-ti/instockhistory.php',
              'https://www.zoolert.com/computers/videocards/nvidia/rtx-3080-ti/instockhistory.php',
               'https://www.zoolert.com/computers/videocards/nvidia/rtx-3090/instockhistory.php',
               'https://www.zoolert.com/computers/videocards/nvidia/rtx-3080/instockhistory.php',
               'https://www.zoolert.com/computers/videocards/nvidia/rtx-3060ti/instockhistory.php',
               'https://www.zoolert.com/computers/videocards/nvidia/rtx-3060/instockhistory.php'
              ]
models = ['rtx-3070','rtx-3070ti','rtx-3080ti','rtx-3090','rtx-3080','rtx-3060ti','rtx-3060']
chipset = []
tags = []
descriptions = []
for values,references in enumerate(nvidia_gpus):
    browser.visit(references)
    browser.find_by_name('history_length').first.select('-1')

for values,references in enumerate(nvidia_gpus):
    browser.visit(references)
    html = browser.html
    gpu_soup = soup(html,'html.parser')
    data = gpu_soup.find_all('tr',role = "row")
    tags.append(data)

    for value,link in enumerate(data):
        descriptions.append(link.get_text(separator = "\n"))
        if( 'T' not in descriptions[value].strip().split("\n")[-1] ):  
            chipset.append(models[values])

In [8]:
temp = []
time = []
chip = []
stores = []
for values, links in enumerate(tags):
    for refs in links:
        temp.append(refs.get_text(separator = "\n"))
        
for times, data in enumerate(temp):
    if( 'T' not in temp[times].strip().split("\n")[-1] ):  
        time.append(temp[times].strip().split("\n")[-1])
        stores.append(temp[times].strip().split("\n")[0])
company = ["Nvidia"] * len(stores)
print(len(stores))
print(len(time))
print(len(company))
while(len(chipset)!=len(time)):
    chipset.append("rtx-3060")

2017
2017
2017

In [9]:
final_conversion = []
time = [value for value in time if value != "Total Time"]
for timestamps, stamps in enumerate(time):
        
    total_time = 0
    cleaned_time = [int(ele) for ele in re.split('[a-z]',stamps) if ele.strip()]
    if len(cleaned_time) is 3: 
        scalar =1440
        total_time = scalar * cleaned_time[0]
        scalar = 60
        total_time = total_time +(scalar*cleaned_time[1])
        scalar = 1
        total_time = total_time + (scalar*cleaned_time[2])
    elif len(cleaned_time) is 2: 
        scalar = 60
        total_time = total_time +(scalar*cleaned_time[0])
        scalar = 1
        total_time = total_time + (scalar*cleaned_time[1])
    else:
        total_time = cleaned_time[0]
    final_conversion.append(total_time)
print(final_conversion)

[2104, 288, 1924, 216, 7100, 5264, 2440, 4, 12448, 176, 12, 272, 4, 16, 8, 1, 1, 16, 40, 1188, 40, 4, 548, 500, 1, 88, 64, 4, 580, 88, 12, 1, 9868, 40, 28, 344, 1069, 1, 336, 1, 4, 1188, 4, 1, 1, 4, 1, 1, 1, 1, 18824, 4, 280, 656, 852, 1584, 2820, 476, 1, 1896, 1, 24, 4, 4, 8, 72, 100, 308, 172, 1, 60, 8, 8, 8, 216, 4, 4, 1, 1, 4, 1, 1, 1, 1, 1, 4, 1, 4, 1, 1, 4, 1, 4, 1, 4, 4, 1, 28, 4, 1, 4, 4, 4, 1, 4, 8, 8, 1, 1, 1, 4, 4, 1, 28, 28, 212, 52, 1, 32, 8, 1, 1, 1, 28, 1404, 1913, 1, 1, 24, 1, 1, 1, 1, 1, 8, 24, 1, 1, 1, 3, 4, 3, 12, 1, 3, 24, 1, 1, 3, 1, 1, 1, 27, 27, 27, 24, 3, 24, 1, 1, 1, 1, 24, 3, 27, 1, 2, 2, 12, 2, 4, 2, 5, 2, 4, 1, 28, 4, 12, 8, 9, 2, 3, 28, 28, 28, 28, 118, 12, 28, 1209, 4, 4, 1, 29, 4, 51, 2, 3, 14, 3, 2, 1, 3, 2, 32, 1, 1, 2, 1, 1, 1, 1, 3, 1, 1, 2, 1, 4, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 1, 1, 2, 1, 12, 1, 1, 4, 4, 1, 1, 1, 1, 1, 7, 36, 3, 180, 4, 57, 375, 32, 89, 274, 7040, 54, 66, 1, 1, 1, 85, 27, 2180, 127, 7, 52, 27, 159, 1, 35, 1, 187, 133, 52, 2, 96, 1, 273, 36, 12666, 167, 14, 22, 1, 12, 999, 74, 4282, 14, 27, 893, 1, 1, 20, 6, 1, 17, 1, 46, 67, 70, 39, 69, 105, 31, 113, 75, 27, 49, 7, 1, 259, 42, 25482, 9, 1, 17, 160, 26493, 7, 4, 4, 67, 50, 2, 189, 42, 22, 311, 12, 9, 149, 2, 7, 16847, 29838, 9, 1, 35, 79, 3, 1, 534, 14, 95, 534, 187, 2, 97, 1, 23, 62, 60, 48, 67, 15, 15, 20, 1, 1, 48, 1, 7, 27, 67, 24, 87, 9, 10, 95, 7, 222, 35, 12, 4, 1, 20, 11, 127, 14, 11, 16, 20, 1, 4, 121, 1, 1, 1, 82, 12, 2, 2, 19, 10, 27, 1, 14, 14, 7, 7, 7, 1, 9, 1, 1, 7, 7, 12, 3, 1, 1, 1, 2, 1, 1, 2, 1, 4, 1, 1, 1, 4898, 8, 1, 1, 1, 1, 5, 1, 1, 101, 7, 9, 7, 1, 6, 1, 1, 1, 1, 1, 7861, 19441, 2415, 124, 5, 7, 161, 1, 4, 32, 1, 21, 1, 13, 7, 1, 1, 1, 1, 8, 33466, 13987, 1, 5728, 342, 7337, 24, 7, 1, 25602, 2, 12211, 4, 3, 4, 9, 3, 1063, 209, 8, 1, 1, 8, 2, 2, 7, 3, 4, 2, 2, 1, 1, 5, 9, 1, 1, 1, 3, 3, 1, 1, 4, 1, 2, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 173, 3, 1, 2, 1, 2, 1, 7, 1, 3, 1, 1, 1, 1, 1116, 1372, 720, 44, 136, 960, 6540, 1208, 20, 7808, 112, 40, 16, 24, 84, 120, 284, 232, 232, 88, 72, 10936, 28, 1, 24, 16, 8, 52, 8, 128, 28, 52, 240, 32, 292, 88, 44, 540, 12, 20, 6720, 2032, 120, 1140, 112, 1, 1, 16, 112, 12, 84, 104, 1, 264, 44, 1, 36, 8, 60, 16, 40, 36, 240, 16, 1, 16, 8, 4, 4, 18704, 704, 3728, 52, 1, 1, 40, 148, 140, 1344, 224, 376, 164, 1, 216, 22672, 76, 108, 2532, 20, 8, 40, 96, 84, 152, 40, 8, 16, 60, 36, 12, 1, 1, 1, 12444, 29836, 6976, 6932, 11080, 29836, 28, 1, 1, 1, 24, 16, 1, 276, 8, 1, 28, 60, 8, 1, 1, 164, 8, 8, 1, 1, 16, 3320, 352, 2320, 1, 36, 8, 60, 1, 112, 1, 1, 8, 1, 1, 180, 1, 1, 1, 21484, 1, 1036, 20, 20700, 8, 1, 29000, 1, 6232, 4, 1, 1, 3316, 392, 92, 24, 180, 208, 104, 700, 1, 60, 20, 20, 1604, 412, 1, 1804, 4, 52, 32, 136, 48, 24, 488, 272, 1, 1, 3684, 1, 1, 4, 516, 1, 552, 1, 1, 240, 8, 8, 16, 6920, 120, 900, 1, 1, 592, 1, 8, 1, 28, 336, 8, 28, 16, 1, 1, 1, 172, 1, 24, 44, 1, 8, 1, 28, 8, 24, 4, 1, 4, 1, 4, 308, 4, 1, 8, 1, 8, 136, 1, 1, 1, 1, 1, 20, 1, 1, 1, 1, 1, 1, 1, 1, 16, 1, 1, 28, 1, 1, 1, 1, 1, 1, 8, 1, 1, 1, 1, 1, 1, 1, 21, 24, 1, 1, 21, 26, 22, 1, 25, 53, 21, 1, 7, 1, 1, 1, 7, 1, 24, 1, 1, 24, 7, 2434, 1, 26, 1, 1, 2298, 1, 1, 1, 1, 7, 1, 1, 1, 1, 1, 4, 28, 28, 1, 1, 1, 1, 14, 17, 67, 1, 593, 8252, 7, 1, 1, 7, 1, 1, 1, 1, 8, 1, 1, 1, 1, 1, 2467, 1, 1, 1, 53, 1, 19, 19, 54, 28, 1, 1, 20, 1, 29, 21, 4, 148, 1, 7, 3, 27, 3, 3, 175, 1, 3, 3, 1, 1, 3, 3, 24, 3, 24, 4, 4, 1, 1, 1, 3, 8, 1, 4, 3, 1, 4, 4, 9, 3, 1, 1, 1, 4, 4, 4, 3, 4, 4, 3, 4, 1, 1, 1, 7, 1, 1, 1, 7, 7, 1, 3, 1, 3, 1, 5, 4, 4, 1, 17352, 1, 3, 11, 1, 3, 1, 1, 1, 5, 1, 15, 1, 1, 7, 1, 1, 1, 1, 3, 4, 3, 1, 1, 1, 1, 1, 4, 9, 4, 1, 1, 1, 3, 1, 3, 4828, 96, 3, 1, 79, 1, 15, 4, 27, 1, 1, 3, 1, 4, 7, 7, 23, 1, 3, 1, 27, 1, 1, 27, 29, 24, 1, 1, 24, 24, 24, 1, 29, 56, 24, 24, 1, 4, 24, 1, 111, 1, 27, 1, 87, 1, 56, 24, 56, 5, 63, 116, 24, 12, 55, 17, 3, 1, 1, 4, 1, 1, 4, 1, 55, 1, 24, 1, 8, 27, 1, 1, 3, 3, 28, 3, 24, 28, 1, 29, 28, 1, 9, 24, 24, 3, 55, 56, 24, 29, 55, 27, 1, 25, 27, 25, 24, 1, 27, 55, 1, 15, 12, 1, 27, 3, 25, 1, 27, 1, 1, 27, 8, 3, 1, 29, 3, 3, 3, 1, 1, 28, 28, 1, 55, 1, 27, 28, 204, 3, 1, 1, 24, 1, 4, 1, 12, 24, 24, 7, 57, 4, 28, 4, 12, 7, 23, 23, 12, 1, 7164, 12480, 1, 6006, 4122, 114, 1, 162, 66, 6, 1, 12, 42, 252, 30, 1, 1, 6, 1, 1, 1, 1, 6, 1, 1, 1, 1, 1, 1, 1, 1, 57498, 1, 1, 1, 6, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1215, 3, 3, 3, 15, 3, 42, 3, 1, 3, 3, 1, 15, 21, 9, 9, 3, 1, 3, 51, 3, 72, 1, 3, 9, 6, 1, 3, 1, 2, 3, 1, 3, 3, 3, 3, 45, 9, 3, 3, 3, 3, 15, 21, 42, 6, 255, 72, 3, 1, 3, 132, 3, 3, 12, 9, 9, 12, 21, 327, 3, 3, 1, 108, 3, 6, 27, 243, 15, 6, 1, 1, 312, 18, 3, 30, 3, 3, 3, 3, 1, 6, 9, 3, 3, 3, 1, 15, 1398, 1, 1, 6, 1, 3, 1, 1, 3, 1, 1, 3, 1, 3, 1, 1, 1, 3, 1, 1, 3, 2, 1, 2, 1, 1, 1, 4, 4, 2, 1, 2, 2, 1, 1, 4, 1, 2, 1, 1, 2, 2, 4, 4, 1, 4, 1, 1, 1, 6, 1, 1, 4, 2, 4, 1, 1, 4, 2, 1, 1, 4, 2, 2, 1, 1, 4, 1, 2, 1, 2, 1, 1, 4, 1, 1, 1, 4, 1, 2, 4, 4, 2, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 3, 3, 3, 1, 40, 1, 1, 10, 1, 4, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 35, 39, 54, 36, 61, 29, 49, 16, 6, 9, 5, 5, 1, 9394, 45, 36, 315, 391, 10640, 10640, 1, 9, 1, 1, 349, 1, 1, 1, 1, 4, 1, 9761, 1, 1, 1, 1, 19186, 1, 1, 1, 1, 1, 1, 5, 45295, 1, 180, 51, 1, 16, 19, 405, 34, 15, 1, 155, 1, 5, 1, 25, 106, 295, 186, 29, 1, 36, 1, 15, 16, 1, 1, 17, 331, 849, 5, 1, 1, 1, 5, 1, 1, 3, 1, 4, 1, 1, 28, 1, 1, 1, 28, 4, 4, 4, 4, 2, 1, 2, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 6, 1, 1, 1, 1, 1338, 1, 1020, 1, 1, 24, 1, 1, 1, 2, 1, 1, 1, 1, 1, 4, 4, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 2, 1, 1, 16, 53, 15, 291, 1, 87, 18, 318, 24, 26, 1, 18, 1, 7, 10, 9, 51, 9, 1, 1, 1, 84, 1, 1029, 32, 1, 7, 1, 29838, 8204, 688, 152, 17, 45, 8, 420, 1, 1, 9, 9, 1, 8, 1, 1, 1, 1, 1, 1, 403, 1, 7, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 7, 1, 1, 1, 1, 1, 7, 1, 53, 1, 22, 7, 4, 1, 1, 1, 1, 1, 3, 14, 60, 21, 53, 180, 108, 607, 85, 54, 1, 32, 240, 26, 7, 21, 24, 24, 10, 36, 1, 14, 21, 53, 19, 173, 81, 24, 6, 53, 60, 1, 25, 406, 19, 81, 54, 14, 22, 7, 1, 1, 21, 204, 7, 4, 7, 1, 127, 21, 6, 7, 7, 18, 68, 1, 1, 7, 32, 32, 14, 68, 8, 1, 1, 233, 139, 1, 1, 1, 1, 4, 7, 29827, 199, 1, 8306, 1, 352, 39, 53, 19, 7, 1, 95, 1, 173, 1, 106, 1, 1, 1, 1, 92, 4, 7, 1, 1, 1, 1, 1, 7, 1, 4, 1, 1, 1, 1, 547, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 7, 1, 1, 7, 42, 4, 1, 1, 1, 6, 1, 1, 1, 1, 28, 1, 1, 8, 1, 10, 1, 7, 1, 7, 7, 27, 8, 1, 1, 16, 8, 1, 28, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 8, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 12, 8, 1, 1, 1, 4, 1, 1, 1, 12, 1, 1, 1, 1, 1, 1, 1, 1, 8, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 944, 1, 1, 1, 1, 1, 1, 8, 1, 1, 1, 1, 1, 1, 1580, 1, 4, 1, 1, 1, 1, 4, 1, 8, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 8, 1, 1, 8, 1, 1, 1, 1, 1, 1, 1, 8, 1, 1, 1, 1, 1, 6, 6, 24, 1, 1, 24, 1, 30, 1, 1, 1, 6, 1, 1, 1, 6, 1, 6, 120, 108, 18, 18, 6, 396, 132, 252, 1, 6, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 7, 1, 1, 152, 148, 95, 505, 85]

In [10]:
df= pd.DataFrame({
    'stores':stores,
    'Company':company,
    'chipset':chipset,
    'time':final_conversion})
df

      stores Company   chipset  time
0     Amazon  Nvidia  rtx-3070  2104
1     Amazon  Nvidia  rtx-3070   288
2     Amazon  Nvidia  rtx-3070  1924
3     Amazon  Nvidia  rtx-3070   216
4     Amazon  Nvidia  rtx-3070  7100
...      ...     ...       ...   ...
2012  Amazon  Nvidia  rtx-3060   152
2013  Amazon  Nvidia  rtx-3060   148
2014  Amazon  Nvidia  rtx-3060    95
2015  Amazon  Nvidia  rtx-3060   505
2016  Amazon  Nvidia  rtx-3060    85

[2017 rows x 4 columns]

In [11]:
filepath = Path('CSV/stock_and_time-Nvidia.csv')
df.to_csv(filepath)

In [14]:
amd_gpus = ['https://www.zoolert.com/computers/videocards/radeon/rx5700/instockhistory.php',
           'https://www.zoolert.com/computers/videocards/radeon/6600xt/instockhistory.php',
           'https://www.zoolert.com/computers/videocards/radeon/rx6600/instockhistory.php',
           'https://www.zoolert.com/computers/videocards/radeon/rx6700xt/instockhistory.php',
           'https://www.zoolert.com/computers/videocards/radeon/rx6800xt/instockhistory.php',
           'https://www.zoolert.com/computers/videocards/radeon/rx6900xt/instockhistory.php'
           ]

models = ['rx5700','600xt','rx6600','rx6700xt','rx6800xt','rx6900xt']
amd_tags = []
amd_chipset = []
amd_descriptions = []
for values,references in enumerate(amd_gpus):
    browser.visit(references)
    html = browser.html
    gpu_soup = soup(html,'html.parser')
    browser.find_by_name('history_length').first.select('-1')

for values,references in enumerate(amd_gpus):
    browser.visit(references)
    html = browser.html
    gpu_soup = soup(html,'html.parser')
    data = gpu_soup.find_all('tr',role = "row")
    amd_tags.append(data)

    for value,link in enumerate(data):
        amd_descriptions.append(link.get_text(separator = "\n"))
        if( 'T' not in amd_descriptions[value].strip().split("\n")[-1] ):  
            amd_chipset.append(models[values])

In [26]:
amd_temp = []
amd_time = []
amd_stores = []
for values, links in enumerate(amd_tags):
    for refs in links:
        amd_temp.append(refs.get_text(separator = "\n"))
        
for times, data in enumerate(amd_temp):
    if( 'T' not in amd_temp[times].strip().split("\n")[-1] ):  
        amd_time.append(amd_temp[times].strip().split("\n")[-1])
        amd_stores.append(amd_temp[times].strip().split("\n")[0])
print(len(amd_stores))
print(len(amd_time))
print(len(amd_chipset))

2269
2269
2269

In [28]:
amd_final_conversion = []
amd_time = [value for value in amd_time if value != "Total Time"]
for timestamps, stamps in enumerate(amd_time):
        
    total_time = 0
    cleaned_time = [int(ele) for ele in re.split('[a-z]',stamps) if ele.strip()]
    if len(cleaned_time) is 3: 
        scalar =1440
        total_time = scalar * cleaned_time[0]
        scalar = 60
        total_time = total_time +(scalar*cleaned_time[1])
        scalar = 1
        total_time = total_time + (scalar*cleaned_time[2])
    elif len(cleaned_time) is 2: 
        scalar = 60
        total_time = total_time +(scalar*cleaned_time[0])
        scalar = 1
        total_time = total_time + (scalar*cleaned_time[1])
    else:
        total_time = cleaned_time[0]
    amd_final_conversion.append(total_time)
print(amd_final_conversion)

[1, 1, 180, 180, 1, 180, 1, 1, 1, 1, 180, 1, 1, 1, 1, 1, 180, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 182, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 360, 1, 1, 1, 1, 1, 1, 1, 1, 360, 1, 1, 1, 1, 1, 1, 360, 360, 1, 60, 1, 1, 1, 1, 360, 1, 1, 1, 1, 1800, 1, 1, 360, 1, 1, 1, 1, 1, 1, 60, 360, 1, 1, 1, 1, 1, 360, 360, 360, 360, 360, 1, 360, 1800, 5040, 60, 360, 11160, 3240, 1, 60, 3240, 360, 540, 3240, 1, 27720, 360, 3240, 1, 3600, 1, 1, 1, 6840, 1, 1, 60, 1, 3240, 1, 1, 1, 1, 1, 360, 1, 1, 3240, 1, 1, 1, 1, 33840, 360, 8280, 37080, 1800, 3240, 1800, 1, 16200, 1, 360, 360, 360, 1, 60, 1, 60, 360, 360, 1, 360, 60, 360, 360, 1, 360, 360, 360, 60, 1, 360, 1, 1, 60, 1, 60, 60, 1, 40680, 1, 1, 1, 1, 1, 1, 55440, 1, 360, 1, 1, 360, 1, 3240, 47160, 1, 1, 1, 360, 1, 360, 132840, 360, 7920, 60, 360, 1, 360, 7920, 360, 1, 60, 1, 30960, 21205, 1, 3565, 325, 13645, 1045, 360, 1, 1, 1, 180, 60, 5400, 360, 1, 1, 60, 1, 360, 480, 1, 3240, 1, 1, 1800, 1800, 60, 1800, 3240, 1800, 1, 1, 3240, 60, 3600, 60, 6480, 60, 1, 28080, 12600, 2160, 6840, 900, 360, 1, 1312, 600, 3592, 1, 1, 120, 1, 1, 1200, 5392, 5392, 1, 480, 4672, 2760, 600, 600, 480, 120, 120, 2340, 1080, 1681, 4380, 1560, 1200, 1, 480, 3719, 600, 1560, 1080, 2640, 1200, 1, 1080, 1680, 1, 1, 2160, 1, 2280, 600, 240, 120, 1, 600, 480, 1, 480, 4560, 1, 1680, 120, 1, 480, 1200, 1, 2640, 120, 480, 1, 2160, 1, 120, 1, 1200, 1, 1, 1680, 1080, 1, 480, 1, 1080, 1, 120, 1, 1680, 120, 3360, 20640, 1, 600, 37252, 480, 23880, 1, 1, 3720, 1680, 1, 480, 1, 2160, 1200, 1, 1, 2280, 2640, 120, 1080, 1, 1, 600, 1, 120, 1, 180, 1, 120, 540, 2160, 1, 1200, 1, 1, 6000, 2280, 2160, 2160, 1, 1, 10200, 1, 2640, 1080, 600, 120, 7560, 2640, 120, 480, 1080, 1680, 600, 1560, 1560, 600, 120, 1, 2160, 1, 73140, 120, 35040, 1, 10320, 1200, 1320, 1, 600, 600, 120, 600, 1680, 1200, 480, 3840, 49800, 1, 8160, 1560, 7561, 87412, 40080, 1, 120, 1, 1, 1, 480, 1, 1, 1, 1, 1, 1, 1, 1, 120, 480, 1, 1, 120, 1, 1, 1, 120, 1, 1, 120, 120, 1, 1, 480, 120, 120, 120, 121, 1, 1, 2160, 1, 1, 1, 1, 1, 120, 120, 1, 1, 1, 1, 1, 180, 4200, 1, 121, 1, 1, 120, 120, 1, 120, 120, 120, 479, 1, 1, 1, 1, 480, 480, 1, 1, 120, 120, 480, 1, 1, 1, 120, 1, 1, 120, 1, 120, 1, 1, 480, 1, 1, 1, 1, 1, 1, 120, 120, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 120, 1, 1, 1, 1, 120, 120, 120, 120, 1, 120, 120, 120, 1, 1, 120, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 480, 1, 1, 120, 1, 1, 1, 1, 600, 1, 1, 1, 120, 480, 480, 1, 120, 1, 120, 480, 120, 1, 1, 480, 480, 120, 1, 1680, 1, 1, 1, 120, 120, 1, 120, 1, 1, 120, 316, 147, 120, 404, 807, 165, 449, 223, 1200, 329, 209, 17, 136, 552, 1260, 14340, 192, 660, 163, 1603, 525, 60, 2193, 269, 451, 75, 6840, 163, 377, 1, 735, 660, 147, 120, 300, 720, 16, 120, 3583, 1, 29836, 29836, 29836, 19953, 29836, 3556, 525, 525, 525, 525, 525, 525, 16, 60, 8067, 12, 8144, 1, 1, 2973, 857, 300, 11367, 16, 1, 136, 93, 1, 1, 15524, 120, 737, 15524, 449, 1, 1152, 15, 269, 72, 929, 403, 525, 823, 1887, 267, 823, 2596, 1, 3796, 32, 240, 6672, 12, 463, 453, 72, 77, 12, 45, 103, 120, 44, 27, 34545, 408, 60, 16, 1, 44, 15672, 164, 136, 17, 612, 151, 29, 453, 437, 1, 556, 316, 224, 1, 840, 1, 1, 165, 1, 50069, 273, 343, 77, 33, 600, 1, 1, 180, 449, 888, 15, 1, 16, 989, 48, 180, 16, 1, 16, 240, 31, 240, 387, 1, 136, 45, 17, 1, 207, 76, 60, 327, 1, 12, 105, 12, 93, 135, 1769, 468, 27, 44, 33975, 736, 108, 747, 43, 76, 16, 151, 463, 1, 240, 1, 44, 44, 1, 17, 44, 1107, 256, 17, 163, 12, 29, 31, 17, 15, 164, 17, 45, 15, 15, 15, 15, 196, 60, 104, 16, 12, 255, 16, 16, 44, 60, 15, 48, 44, 60, 12, 149, 7185, 1, 80373, 16, 1, 1, 1, 1, 16, 17, 135, 15, 44, 104, 43, 1, 1, 31, 1, 33, 223, 60, 12, 1, 27, 27, 132, 27, 89, 1, 12, 1, 1, 33, 43, 12, 60, 33, 1, 1, 15, 1, 15, 1, 1, 31, 120, 1097, 17, 207, 15, 567, 1, 29, 43, 136, 12, 27, 1, 29, 48, 104, 343, 1, 163, 1, 1, 44, 104, 1, 1, 105, 12, 1, 92, 1, 1, 1, 45, 27, 1, 29, 1, 15, 31, 1, 16, 31, 17, 197, 104, 31, 1, 1, 1, 1, 1, 1, 12, 1320, 1980, 15, 1, 1, 60, 16, 16, 1, 1, 1, 29, 1, 1, 1, 1, 1, 17, 1, 17, 17, 1, 1, 1, 1, 1, 32, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 16, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 12, 1, 1, 1, 1, 1, 1, 1, 436, 1, 4528, 1, 1, 8352, 1, 1, 120, 1124, 628, 16, 1, 19724, 21840, 2088, 2970, 2970, 47, 29846, 27073, 29846, 29846, 468, 468, 468, 468, 39, 39, 39, 39, 8194, 32734, 13, 60, 1560, 1, 540, 274, 219, 158, 111, 47, 47, 155, 107, 214, 1, 12, 9, 107, 227, 159, 1, 107, 13, 1, 47, 154, 1, 1, 13, 47, 65674, 429, 13, 1427, 1, 47, 155, 454, 1, 480, 386, 107, 1, 167, 1, 1, 1, 1, 1, 1, 47, 1, 1, 1, 47, 1, 1, 1, 110400, 13, 9, 1, 107, 107, 1, 47, 48, 1, 9, 1, 13, 1, 1, 1, 7046, 1, 326, 60, 154, 1, 13, 1, 1, 60, 1, 9, 1, 1, 47, 47, 218, 1, 107, 12, 111, 1, 107, 60, 13, 322, 1, 2820, 1, 47, 1, 154, 1, 60, 1, 1, 1, 1, 1, 47, 47, 48, 1, 1, 1, 1, 3039, 1, 13, 433, 1, 1, 1, 9, 1, 1, 1, 1, 1, 1340, 200, 20, 1160, 2009, 590, 120, 70, 1, 10, 20, 150, 199, 10, 10, 10200, 380, 12560, 80, 60, 1840, 22910, 3300, 11240, 520, 420, 150, 19120, 5660, 29850, 1950, 29850, 1, 50, 11270, 20, 2240, 16930, 6090, 420, 180, 600, 3580, 1810, 1330, 720, 230, 410, 420, 40, 489, 240, 350, 439, 330, 4590, 10, 7850, 210, 99, 60, 780, 10, 11, 9, 170, 120, 1, 10, 1, 90, 1, 60, 1430, 70, 20, 220, 10, 1, 1, 1, 550, 60, 49, 360, 3620, 860, 10210, 300, 91871, 10, 92040, 20, 92100, 1790, 260, 66030, 250, 11, 130, 1, 2530, 1, 10, 26620, 100, 10, 1, 1, 1, 1, 60, 80, 1, 1, 11, 300, 40, 120, 40, 1, 950, 1, 230, 30, 10, 10, 31519, 1, 20, 60, 1, 1, 144390, 40, 40, 1250, 1260, 3900, 1380, 240, 1, 60, 1, 3100, 40, 30, 10, 1, 1, 3440, 5070, 380, 10330, 130, 1, 170, 1, 140, 1, 771, 1, 50, 15000, 1120, 100, 20, 120, 1, 1060, 1, 1, 60, 10, 20, 1, 990, 1, 1, 1, 1, 770, 1, 1, 180, 50, 1, 1, 500, 10, 1, 10, 60, 1, 1, 450, 10, 1, 70, 40, 10, 1260, 20, 1, 110, 9, 240, 10, 570, 1, 30, 20, 10, 200, 170, 1, 1, 10, 1, 10, 1, 1, 10, 1, 20, 20, 1, 1, 1, 1, 80, 1, 20, 1, 1, 130, 1, 1, 20, 30, 1, 30, 10, 150, 250, 40, 20, 50, 1, 40, 1, 1, 5720, 20, 1, 1, 50, 1, 1, 139, 1, 10, 180, 1, 10, 30, 20, 670, 10, 1, 1, 60, 20, 1, 20, 1, 1, 1, 11, 1, 20, 10, 1, 10, 1, 20, 50, 1, 1, 60, 10, 30, 10, 10, 10, 20, 70, 1, 1, 1, 1, 30, 100, 11, 90, 20, 170, 1, 1, 20, 50, 110, 20, 190, 1, 10, 30, 50, 60, 70, 20, 30, 1, 10, 10, 1580, 1, 140, 19, 1, 1, 1, 1, 1, 90, 1, 4470, 1, 80, 300, 1, 120, 50, 30, 20, 200, 10, 310, 1, 1, 60, 111, 1690, 1, 1, 42, 1, 9, 1, 9, 618, 1, 2296, 156, 1, 24, 1, 26496, 429, 1, 54, 162, 1, 18, 1, 69, 24, 720, 1, 52, 1, 1, 9, 1, 1, 1, 51, 1, 9, 1, 258, 6831, 1, 18, 1, 15, 1, 34462, 1, 1, 1, 1, 1, 1, 1, 9, 1, 1, 9, 1, 1, 1, 1, 60, 906, 1, 8, 1287, 36, 315, 1, 18, 24, 51, 33, 84, 1, 9, 1, 1380, 1, 1, 1, 69, 9, 1, 18, 129, 138, 327, 1, 51, 19560, 46655, 429, 9, 9, 87, 1, 9, 27, 127, 18, 274, 15, 576, 33, 60, 189, 8991, 24, 24, 78, 36, 102, 105, 1362, 9, 111, 12245, 827, 9, 36, 33, 36, 42, 102, 1, 138, 1, 21336, 111, 78, 1, 111, 267, 69, 9, 1, 9, 138, 6, 111, 33, 1, 69, 249, 33, 33, 111, 1, 69, 42, 33, 306, 444, 171, 84, 462, 6, 69, 711, 51, 351, 24, 1413, 198, 369, 162, 54, 249, 471, 2013, 213, 2193, 693, 231, 933, 1140, 549, 573, 51, 1, 1, 135, 15, 1, 111, 1200, 1287, 573, 480, 1, 1, 9, 204, 129, 540, 1860, 753, 9, 2562, 93, 1533, 2256, 2520, 6, 129, 1, 966, 324, 84, 231, 84, 1, 60, 51, 33, 51, 216, 33, 48840, 402, 51, 9, 1, 258, 1, 9, 1, 18, 9, 51, 33, 1, 33, 60, 34, 9, 75, 1, 69, 1, 1303, 9, 9, 78, 135, 33, 60, 497, 180, 240, 1277, 70, 16242, 22913, 1165, 29033, 85, 7, 18, 29848, 25094, 29848, 5654, 29848, 13567, 35, 430, 9159, 11425, 11760, 12346, 1, 374, 169, 925, 967, 1, 360, 130, 360, 508, 2792, 1102, 625, 30844, 773, 300, 187, 894, 533, 57773, 159, 133, 713, 8400, 1, 1, 1599, 314, 967, 53220, 208, 4, 3035, 1, 1814, 114, 865, 1, 2175, 4402, 1, 1, 399, 22, 1, 328, 1, 6173, 99, 307, 127, 14, 632, 247, 6, 10, 95, 900, 466, 1052, 233, 17, 46, 18, 2280, 1, 21, 25, 4, 1, 60, 1, 11, 113, 28, 106, 7, 1, 1, 159, 807, 10, 1, 28, 7, 458, 25, 1, 1680, 7, 1, 1, 1, 28, 28, 81, 1, 21, 8, 1, 77, 1, 53, 1, 413, 174, 113, 1, 240, 28, 565, 1, 1, 1, 5717, 7066, 1, 1, 1, 28, 1, 25, 1, 259, 1, 1, 1, 1, 6, 14, 1, 165, 138, 7, 7, 53, 32, 1, 17, 8, 7, 7, 11, 95, 46, 7, 7, 1, 22, 1, 6, 4793, 1, 32, 53, 38, 1, 1, 3367, 427, 1, 32, 1, 7, 7, 1, 465, 7, 7, 1, 1, 127, 7, 7, 145, 7, 14, 1, 33, 21, 39, 39, 14, 275, 1, 120, 1, 7, 7, 1, 1, 434, 1, 39702, 1, 1, 1, 5040, 1, 32, 1595, 1, 1, 1, 133, 1, 1, 1, 28, 1, 39, 18, 120, 60, 31, 42, 133, 1, 8, 93, 145, 1, 85, 1, 7, 1, 367, 1, 2354, 1185, 3798, 3659, 1, 17671, 14952, 1, 1, 1, 1, 1, 1, 251, 275, 371, 7391, 22895, 22895, 9071, 24780, 1260, 1295, 96, 456, 1, 4116, 19980, 5616, 29820, 29820, 5640, 29820, 26820, 1151, 3011, 480, 6180, 864, 191, 1020, 84, 455, 18960, 131, 1, 1, 96, 131, 1175, 2280, 6431, 1620, 564, 35675, 42851, 42851, 9731, 42851, 42851, 2531, 51576, 15551, 240, 85, 204, 264, 1, 11, 1, 180, 1, 180, 540, 3096, 43260, 2664, 275, 625, 60, 169, 16091, 49211, 49211, 456, 35, 469, 11, 35, 85, 180, 1, 25, 156, 420, 24, 49, 505, 505, 109, 1320, 120, 1, 1, 11, 780, 60, 851, 11, 61980, 24, 78000, 911, 1620, 95, 96, 1200, 215, 36, 1, 36, 35, 1, 32771, 1, 25, 1, 324, 36, 1, 1, 349, 27431, 35016, 121356, 1, 71, 145, 180, 120, 25, 35, 25, 95, 431, 36, 49, 1, 1, 11, 36, 1, 1, 1, 8124, 1, 25, 1, 1, 84, 120, 180, 1175, 1, 11, 1, 1, 1, 60, 1, 35, 1, 36, 95, 11, 96, 25, 95, 95, 85, 145, 1, 191, 25, 1, 240, 1, 1, 336, 180, 371, 420, 1, 1, 11, 1, 4115, 11, 2544, 1, 971, 2651, 11, 1, 960, 109, 24, 565, 336, 71, 11, 1, 79, 127, 67, 17, 1, 60, 1, 1, 7, 7, 1, 84, 1, 1, 1, 1, 1, 161, 1, 1, 1, 180, 53664, 69991, 88591, 100496, 100496, 71671, 18789, 18789, 18789, 29940, 29940, 85, 85, 19444, 1, 1, 1, 60780, 4087, 43170, 5511, 5511, 635, 635, 1, 1, 1, 3, 1, 4, 6, 1, 1, 73]

In [29]:
amd_df= pd.DataFrame({
    'stores':amd_stores,
    'chipset':amd_chipset,
    'time':amd_final_conversion})
amd_df

      stores   chipset  time
0     NewEgg    rx5700     1
1     NewEgg    rx5700     1
2     NewEgg    rx5700   180
3     NewEgg    rx5700   180
4     NewEgg    rx5700     1
...      ...       ...   ...
2264  Amazon  rx6900xt     4
2265  Amazon  rx6900xt     6
2266  Amazon  rx6900xt     1
2267  Amazon  rx6900xt     1
2268  Amazon  rx6900xt    73

[2269 rows x 3 columns]

In [31]:
filepath = Path('CSV/stock_and_time-AMD.csv')
amd_df.to_csv(filepath)