In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("stock_and_time-Nvidia.csv")
df

      Unnamed: 0  stores Company   chipset  time
0              0  Amazon  Nvidia  rtx-3070  2104
1              1  Amazon  Nvidia  rtx-3070   288
2              2  Amazon  Nvidia  rtx-3070  1924
3              3  Amazon  Nvidia  rtx-3070   216
4              4  Amazon  Nvidia  rtx-3070  7100
...          ...     ...     ...       ...   ...
2012        2012  Amazon  Nvidia  rtx-3060   152
2013        2013  Amazon  Nvidia  rtx-3060   148
2014        2014  Amazon  Nvidia  rtx-3060    95
2015        2015  Amazon  Nvidia  rtx-3060   505
2016        2016  Amazon  Nvidia  rtx-3060    85

[2017 rows x 5 columns]

In [5]:
df["chipset"].value_counts()

rtx-3080ti    598
rtx-3060      317
rtx-3090      313
rtx-3070ti    300
rtx-3070      249
rtx-3080      158
rtx-3060ti     82
Name: chipset, dtype: int64