In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("stock_and_time.csv")
df

      stores Company   chipset  time
0     Amazon  Nvidia  rtx-3070   712
1     Amazon  Nvidia  rtx-3070    40
2     Amazon  Nvidia  rtx-3070     4
3     Amazon  Nvidia  rtx-3070   548
4     Amazon  Nvidia  rtx-3070   500
...      ...     ...       ...   ...
3977  Amazon     AMD  rx6900xt   160
3978  Amazon     AMD  rx6900xt  3475
3979  Amazon     AMD  rx6900xt     7
3980  Amazon     AMD  rx6900xt     4
3981  Amazon     AMD  rx6900xt     4

[3982 rows x 4 columns]

In [9]:
df["chipset"].value_counts()

rtx-3080ti    598
rx5700        598
rx6700xt      598
600xt         368
rtx-3090      295
rx6800xt      256
rx6900xt      248
rtx-3060      243
rtx-3070ti    242
rtx-3070      230
rx6600        147
rtx-3080      107
rtx-3060ti     52
Name: chipset, dtype: int64